<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
  <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
  <link rel="android-chrome-192x192" sizes="192x192" href="/assets/images/android-chrome-192x192.png">
  <link rel="android-chrome-512x512" sizes="512x512" href="/assets/images/android-chrome-512x512.png">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
</head>

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <!-- Utterances 댓글 기능 추가 -->
    {% if page.url != "/" %}
  <section class="comments">
    <script src="https://utteranc.es/client.js"
            repo="2icorp/2icorp.github.io"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
  </section>
  {% endif %}

    {%- include footer.html -%}

  </body>

</html>
