<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <!-- Utterances 댓글 기능 추가 -->
  <section class="comments">
    <script src="https://utteranc.es/client.js"
            repo="2icorp/2icorp.github.io"
            issue-term="pathname"
            theme="github-dark"
            crossorigin="anonymous"
            async>
    </script>
  </section>

    {%- include footer.html -%}

  </body>

</html>
